* {
    font-family: "Roboto", "Helvetica Neue", "Avenir", "Helvetica", sans-serif;
}

body {
    background-image: url(sovereignsrise.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
    background-color: #212121;
}

.icon {
    height: 12px;
    width: auto;
}

footer {
    font-size: 12px;
    text-align: center;
    color: lightgray;
    
    position: absolute;
    top: calc(100vh - 40px);
    left: 0;
    width: 100%;
}

.content {
    width: 800px;
    height: 600px;
    margin: 0 auto;
    overflow: hidden;
    
    position: absolute;
    top: calc(50% - 300px);
    left: calc(50% - 400px);
    
    background-color: rgba(255,255,255,0.4);
    
    -webkit-animation: 1s ease-out 0s 1 fadeIn;
    animation: 1s ease-out 0s 1 fadeIn;
    
    border-radius: 35px;
}

.content-background {
    position: absolute;
    top: 0;
    left: 0;
    float: left;
    
    display: block;
    height: 100vh;
    width: 100vw;
    
    background-image: url(sovereignsriseblur.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
    background-color: darkslategray;
    
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    
    -webkit-animation: 1s ease-out 0s 1 inverseFadeIn;
    animation: 0.1s ease-out 0s 1 inverseFadeIn;
    
}

@-wekbit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.title {
    width: 800px;
    margin 0 auto;
    font-weight: 400;
    text-align: center;
    padding: 0;
}

.main-title {
    font-weight: 600;
    font-size: 80px;
    color: rgba(29, 29, 29,0.8);

}

.countdown-timer {
    position: absolute;
    top: 30px;
}

.subheading {
    margin-top: -50px; /*sorry mom*/
    color: rgba(29, 29, 29, 0.8);
    margin-bottom: 40px;
}

.timer {
    color: rgba(255,255,255,0.7);
    font-size: 80px;
    font-weight: 800;
    
    width: 700px;
    text-align: center;
    border-radius: 10px;
    
    opacity: 0;
    transition: 0.4s all;
    -webkit-transition: 0.4s all;
    padding: 20px;
    margin: 0 auto;
    
    background-color: rgba(29, 29, 29, 0.8);
    background: -webkit-linear-gradient(left, rgb(229, 189, 100) , rgb(226, 214, 146));
    background: -moz-linear-gradient(left, rgb(229, 189, 100) , rgb(226, 214, 146));
    background: -o-linear-gradient(left, rgb(229, 189, 100) , rgb(226, 214, 146));
    background: linear-gradient(left, rgb(229, 189, 100) , rgb(226, 214, 146));
    
}

.golden-ticket {
    background: -webkit-linear-gradient(left, rgb(229, 189, 100) , rgb(226, 214, 146));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.5v5image {
    background-image: url(5v5image.png);
    height: 400px;
    width: 400px;
    position: absolute;
    display: block;
    left: 50px;
    top: 10px;
    background-color: red;
}

@media screen and (max-width: 820px) {
    
    body {
        height: 100vh;
        width: 100vw;
        overflow: hidden;
    }
    
    .content {
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        border-radius: 0;
        padding: 50px;
    }
    
    .content-background {
        box-shadow: none;
    }
    
    .timer {
        width: 80%;
    }
    
    .title {
        width: 100%;
    }
}
